@{
    ViewBag.Title = "Обратная связь";
}


<div class="contact-area d-flex align-items-center">

    <div class="google-map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A33686cfe1ccc9d31ea41ad5fdba5618c5064d15176201fa2743711a4760507e6&amp;width=1087&amp;height=664&amp;lang=ru_RU&amp;scroll=true">

        </script>
    </div>

    <div class="contact-info">
        <h2>Как найти нас</h2>
        <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna vehicula, nec maximus est sollicitudin.</p>

        <div class="contact-address mt-50">
            <p><span>Адрес:</span>Минск, Колесникова, 3</p>
            <p><span>Телефон:</span> +375 (25) 564 34 43</p>
            <p><a href="mailto:support@gmail.com">support@gmail.com</a></p>
        </div>
    </div>

</div>