# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.SuperMegaStore5000.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Курсовые\Курсовая Паши\V0.04 — копия\SuperMegaStore5000\.idea\.idea.SuperMegaStore5000.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
